@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --accent: #000;
  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #444;
  --accents-4: #666;
  --accents-5: #888;
  --accents-6: #999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;
  --accents-9: #fff;

  --background-light: var(--accents-9);
  --background-dark: var(--accent);
  
  /* Errors */
  --error-lighter: #f7d4d6;
  --error-light: #f33;
  --error: #f00;
  --error-dark: #e60000;

  /* Success */
  --success-lighter: #d3e5ff;
  --success-light: #3291ff;
  --success: #0070f3;
  --success-dark: #0761d1;

  /* Warning */
  --warning-lighter: #ffefcf;
  --warning-light: #f7b955;
  --warning: #f5a623;
  --warning-dark: #ab570a;

  /* Violet */
  --violet-lighter: #d8ccf1;
  --violet-light: #8a63d2;
  --violet: #7928ca;
  --violet-dark: #4c2889;

  /* Highlight */
  --highlight-purple: #f81ce5;
  --highlight-magenta: #eb367f;
  --highlight-pink: #ff0080;
  --highlight-yellow: #fff500;

  /* Shadows */
  --shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-extra-small: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-3xl: 0 50px 100px -20px rgba(0,0,0,.12), 0 30px 60px -30px rgba(0,0,0,.15);
  --shadow-focus: 0 0 0 2px var(--success);
  /* --shadow-sm-gray: 0 0 0 2px var(--geist-experimental-color-gray-7); */
  --shadow-scroll: inset 0 -1px 0 0 rgba(0,0,0,.1);
  --shadow-scroll-dark: inset 0 -1px 0 0 hsla(0,0%,100%,.1);

  /* Radius */
  --border-radius-xs: 0.25rem;
  --base-radius: 0.3125rem;

  /* Spaces */
  /* --geist-space-small: 2rem;
  --geist-space-medium: 2.5rem;
  --geist-space-large: 3rem;
  --geist-space-gap: 1.5rem;
  --geist-space-gap-half: 0.75rem;
  --geist-space-gap-quarter: 0.375rem;
  
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-gap-section: var(--geist-space-small);
  --geist-gap-x2: calc(2 * var(--geist-gap));

  --geist-action-large-font: 1rem;
  --geist-action-large-line-height: 1.5rem;
  --geist-action-large-height: var(--geist-space-large);
  --geist-action-small-font: 0.875rem;
  --geist-action-small-line-height: 0.875rem;
  --geist-action-small-height: var(--geist-space-small);
  --geist-action-font: 0.875rem;
  --geist-action-line-height: 1.25rem;
  --geist-action-height: var(--geist-space-medium);

  --geist-form-font: 0.875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium); */

  /* Grid template columns */
  /* --grid-template-columns-1-2: 1fr 2fr; */

  /* Backdrop saturate */
  --backdrop-saturate-180: 1.8;

  /* Line height */
  --line-height-0: 0;
  --line-height-14: 3.5rem;
  --line-height-18: 4.5rem;

  /* Letter spacing */
  --letter-spacing-title: -0.04em;
  --letter-spacing-subtitle: -0.03em;

  /* Transition property */
  --transition-property-color: color;
  --transition-property-color-and-background: background, color;
  --transition-property-background-color: background-color;
  --transition-property-background-color-and-box-shadow: box-shadow, background-color;
  --transition-property-colors-shadow-transform:  border-color, background, color, transform, box-shadow;
  --transition-property-max-height: max-height;
  --transition-width-height: width, height, all;
  --transition-width-transform: width, transform;

  /* Transform origin */
  --transform-origin-top-center: top center;

  /* Transition timing function */
  --transition-timing-ease: cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

input[type="search"]::-webkit-search-cancel-button{
  cursor: pointer;
}
